<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-9">
                <h4>Listado de apartamentos</h4>
                <div class="row">
                  <div class="col-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>selecione o condomínio</mat-label>
                      <mat-select [(ngModel)]="condominiumId" name="condominium" [(value)]="selected"
                        (selectionChange)="getApartments(selected)">
                        <mat-option *ngFor="let condominium of condominiums" [value]="condominium.id">
                          {{condominium.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-9">
                    <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <input class="text-white" matInput placeholder="procurar por numero, andar ou bloco"
                          [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-3 text-right">
                <button mat-raised-button type="button" class="btn btn-sm btn-primary btn-blue"
                  (click)="newApartment()">
                  <i class="material-icons">assignment</i>
                  Novo apartamento
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class=" table-fixed" *ngIf="!isLoading">
              <div class="table-scroll">
                <table class="table">
                  <tbody>
                      <tr
                        *ngFor="let apartment of apartments | grdFilter: {number: searchText, block:searchText, roof:searchText}; let i=index;">
                        <td>
                          <h4>N° {{apartment?.number}}</h4>
                        </td>
                        <td>
                          <h5><small>Bloque:</small> {{apartment?.block}}<small>, Andar:</small> {{apartment?.roof}}
                          </h5>
                        </td>
                        <td class="text-right">
                          <h5>{{apartment?.residentsNumber}} residentes</h5>
                        </td>
                        <td class="td-actions text-right">
                          <button mat-raised-button type="button" matTooltip="Editar apartamento"
                            [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon"
                            (click)="updateApartment(apartment)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" matTooltip="Apagar apartamento"
                            [matTooltipPosition]="'above'" (click)="deleteApartment(apartment)"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    <div
                      *ngIf="(apartments | grdFilter: {number: searchText, block:searchText, roof:searchText})?.length === 0">
                      <app-no-data></app-no-data>
                    </div>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="isLoading" class="second-card row justify-content-md-center align-items-center">
              <app-loading-info></app-loading-info>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>