<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-info">
        <h4>Listado de condomínios</h4>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input  class="text-white" matInput placeholder="procurar por nome ou endereço" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </form>
      </div>
      <div class="card-body">
        <div class=" table-fixed" *ngIf="!isLoading">
          <div class="table-scroll">
            <table class="table">
              <tbody>
                <tr class="row-hover"
                  *ngFor="let condominium of condominiums | grdFilter: {name: searchText, address:searchText}; let i=index;"
                  matTooltip="Click para ver detalhes" [matTooltipPosition]="'above'"
                  [routerLink]="['/condominiums', condominium.id]">
                  <td>
                    <h4>{{condominium?.name}}</h4>
                    <small><b>Endereço:</b> {{condominium?.address}}</small>
                  </td>
                  <td class="text-right"><b>{{condominium?.apartmentsNumber}} aptos</b></td>
                </tr>
                <div *ngIf="(condominiums | grdFilter: {name: searchText, address:searchText})?.length === 0">
                  <app-no-data></app-no-data>
                </div>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="isLoading" class="second-card row justify-content-md-center align-items-center">
          <app-loading-info></app-loading-info>
        </div>
      </div>
    </div>
  </div>
</div>